body {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 60px;
}

.footer {
  font-family: 'Cabin Sketch', cursive;
  font-size: 18px;
  margin: 40px 0 40px 0;
}

.footer > a {
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}

.footer > a:hover {
  transition: 0.2s;
  text-decoration: none;
  color: #00FF00;
  margin-top: 30px;
  text-shadow: 30px 30px 0 #9400D3, 20px 20px 0 #4B0082, 10px 10px 0 #0000FF, -10px -10px 0 #FFFF00, -20px -20px 0 #FF7F00, -30px -30px 0 #FF0000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

@media (max-height: 400px) {
  .footer {
    font-size: 0.8em;
  }
}

@media (max-width: 320px) {
  .footer {
    font-size: 0.6em;
  }
}
